<?xml version="1.0"?>
<!--
/**
 * SAML Extension for Magento2.
 *
 * @package     Pitbulk_SAML2
 * @copyright   Copyright (c) 2019 Sixto Martin Garcia (http://saml.info)
 * @license     Commercial
 */
-->
<config 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
        >
    <router id="standard">
        <route id="mysso" frontName="mysso">
            <module name="Custom_Login" />
        </route>
    </router>

</config>